*
    font-family: 'Inter', sans-serif 
    src: url("../fonts/first/Inter-VariableFont_slnt,wght.ttf") format("truetype")
body
    background-color: #090828
.header
    width: 100%
    position: absolute
    height: 70px
    margin-top: 31px
    &_logo
        padding-top: 91px
        height: 20px
        &_settings
            height: 20px
    &_btn
        cursor: pointer
        position: absolute
        top:12%
        color: #FFF
        font-family: Inter
        font-size: 13.7px
        font-style: normal
        font-weight: 600
    &_project
        width: 170px
        height: 40px
        border-radius: 30px
        border: 1px solid #FE484C
        color: #FFF
        font-family: Inter
        font-size: 13.7px
        font-style: normal
        font-weight: 600
        background-color: #09082800
        transition: 0.2s linear
        &:hover
            border: 1px solid #ffffff
.promo
    height: 600px
    &_back
        background-color: #1b187700
        height: 600px
        border-bottom-left-radius: 45px
        border-bottom-right-radius: 45px
        &_video
            width: 1116px
            position: absolute
            left: 0
            top: 0
            right: 0
            margin: auto
            z-index: -2
            border-bottom-left-radius: 45px
            border-bottom-right-radius: 45px
        &_shadow
            width: 1116px
            position: absolute
            left: 0
            top: 0
            right: 0
            margin: auto
            z-index: -1
            border-bottom-left-radius: 45px
            border-bottom-right-radius: 45px
        &_text
            padding-top: 150px
            color: #FFF
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
            font-family: Inter
            font-size: 50.8px
            font-style: normal
            font-weight: 300
            line-height: 55px
            letter-spacing: -1.5px
            &_second
                color: #FFF
                text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
                font-family: Inter
                font-size: 54.9px
                font-style: normal
                font-weight: 700
                line-height: 55px
                letter-spacing: -1.5px
            &_submain
                padding-top: 20px
                color: #FFF
                font-family: Inter
                font-size: 15.1px
                font-style: normal
                font-weight: 300
                line-height: 24px
        &_btn
            margin-left: 110px
            &_1
                width: 170px
                height: 40px
                border-radius: 30px
                border: 1px solid #FE484C
                color: #FFF
                font-family: Inter
                font-size: 13.7px
                font-style: normal
                font-weight: 600
                background: linear-gradient(270deg, #FE484C 0%, #E37337 33.33%, #e37c37 66.67%, #FE484C 100%)
                transition: 0.2s linear
                &:hover
                    border: 1px solid #fdfeff
                    
            &_2
                margin-left: 15px
                width: 170px
                height: 40px
                border-radius: 30px
                border: 1px solid #FE484C
                color: #FFF
                font-family: Inter
                font-size: 13.7px
                font-style: normal
                font-weight: 600
                background-color: #09082800
                transition: 0.2s linear
                &:hover
                    border: 1px solid #ffffff

            
            &_3
                margin-left: 15px
                width: 170px
                height: 40px
                border-radius: 30px
                border: 1px solid #FE484C
                color: #FFF
                font-family: Inter
                font-size: 13.7px
                font-style: normal
                font-weight: 600
                background-color: #09082800
                transition: 0.2s linear
                &:hover
                    border: 1px solid #ffffff
    &_buble
        padding-top: 150px
        &_1
            background: rgba( 255, 255, 255, 0.2 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 8.5px )
            -webkit-backdrop-filter: blur( 8.5px )
            width: 230px
            height: 150px
            transform: rotate(-5deg)
            border-radius: 30px
            border: 1px solid #FFF
            color: white
            &_header
                padding-top: 20px
                text-align: center
                color: #FFF
                font-family: Inter
                font-size: 35.8px
                font-style: normal
                font-weight: 600
                line-height: 40px
            &_subheader
                margin-top: 5px
                text-align: center
                color: #FFF
                font-family: Inter
                font-size: 13.2px
                font-style: normal
                font-weight: 300
                line-height: 18px
        &_2
            background: rgba( 255, 255, 255, 0.2 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 8.5px )
            -webkit-backdrop-filter: blur( 8.5px )
            margin-left: 150px
            color: white
            margin-top: 50px
            width: 230px
            height: 150px
            transform: rotate(5deg)
            border-radius: 30px
            border: 1px solid #FFF
            &_header
                padding-top: 10px
                text-align: center
                color: #FFF
                font-family: Inter
                font-size: 35.8px
                font-style: normal
                font-weight: 600
                line-height: 40px
            &_subheader
                text-align: center
                color: #FFF
                font-family: Inter
                font-size: 13.2px
                font-style: normal
                font-weight: 300
                line-height: 18px
.benefits
    margin-top: 80px
    height: 500px
    &_header
            color: #ffffff
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
            font-family: Inter
            font-size: 44.5px
            font-style: normal
            font-weight: 700
            line-height: 45px
            letter-spacing: -1.5px
            text-align: center
            margin-bottom: 70px
    &_item
        
        &_picture
            display: flex
            justify-content: center
            margin: auto
            align-items: center 
            color: #FFF
            width: 60px
            height: 60px
            border-radius: 10px
            opacity: 0.5
            background: linear-gradient(90deg, #4D4D7E 0%, #483B4F 100%)
        &_header
            margin-top: 15px
            color: #FFF
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
            font-family: Inter
            font-size: 30.9px
            font-style: normal
            font-weight: 600
            text-align: center
            margin-bottom: 5px

        &_subheader
            color: #FFF
            font-family: Inter
            font-size: 15.1px
            font-style: normal
            font-weight: 300
            line-height: 24px
            text-align: center

.varvision
    &_main
        width: 100%
        min-height: 260px
        background: url('../img/logo_div.svg')center no-repeat
        &_glass
            margin-top: 190px
            margin-left: 30%
            position: absolute
            text-align: center
            background: rgba( 255, 255, 255, 0.2 )
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
            backdrop-filter: blur( 8.5px )
            -webkit-backdrop-filter: blur( 8.5px )
            border-radius: 30px
            border: 1px solid #FFF
            color: white
            color: #FFF
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
            font-family: Inter
            font-size: 30.9px
            font-style: normal
            font-weight: 600
            line-height: 32px
            width: 460px
            height: 60px
            transform: rotate(-2deg)
            &_header
            padding-top: 10px
    &_header
        margin-top: 20px
        color: #FFF
        font-family: Inter
        font-size: 15.1px
        font-style: normal
        font-weight: 300
        line-height: 24px
        text-align: center
    &_btn
        text-align: center
        color: #FFF
        font-family: Inter
        font-size: 13.7px
        font-style: normal
        font-weight: 600
        line-height: 32px
        width: 300px
        height: 40px
        border-radius: 30px
        background: linear-gradient(290deg, #FE484C 0%, #E37337 100%)
        &_header
            margin: 0 a

    &_btns
        margin-top: 20px
        display: flex
        justify-content: center

.corusel
    height: 600px
    &_content
        display: flex
        align-items: center
        justify-content: center
    &_card
        position: relative
        margin: 20px 0
        background: rgba( 255, 255, 255, 0.25 )
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
        backdrop-filter: blur( 4px )
        -webkit-backdrop-filter: blur( 4px )
        border-radius: 10px
        border: 1px solid rgba( 255, 255, 255, 0.18 )
        
        &_content
            padding: 30px
            display: flex
            flex-direction: column
            align-items: center
            padding: 30px
            position: relative
            z-index: 100
            &_btn
                width: 100%
                display: flex
                justify-content: space-around
                margin-top: 15px
            
            &_button
                background: linear-gradient(290deg, #FE484C 0%, #E37337 100%)
                outline: none
                border: none
                color: #fff
                padding: 8px 22px
                border-radius: 30px
                width: 100%
                &:hover
                    border: 1px solid #fdfeff

            &_header
                margin-top: 15px
                margin-bottom: 15px
                display: flex
                flex-direction: column
                align-items: center
                color: white
                text-align: center
                color: #FFF
                font-family: Inter
                font-size: 21.1px
                font-style: normal
                font-weight: 700
                line-height: 22px
            &_subheader
                text-align: center
                display: flex
                flex-direction: column
                align-items: center
                color: white
                color: #FFF
                font-family: Inter
                font-size: 13.5px
                font-style: normal
                font-weight: 400
                line-height: 21px
            &_image

                &_img
                    height: 100%
                    width: 100%
                    object-fit: cover

.splide
    margin: 0 auto
    width: 68%
    &__slide
        min-height: 600px

.swiper
    width: 100%

.responsibilitie
    margin-top: 90px
    margin-bottom: 90px
    &_title
        &_question
            padding-top: 20px
            color: #FFF
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
            font-family: Inter
            font-size: 45px
            font-style: normal
            font-weight: 700
            line-height: 45px
            letter-spacing: -1.5px
        &_subquestion
            margin-top: 20px
            color: #FFF
            font-family: Inter
            font-size: 16px
            font-style: normal
            font-weight: 300
            line-height: 24px
        &_solution
            background: linear-gradient(270deg, #FE484C 0%, #E37337 33.33%, #E3B337 66.67%, #FE484C 100%)
            background-clip: text
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-family: Inter
            font-size: 36px
            font-style: normal
            font-weight: 700
            line-height: 36px
            letter-spacing: -1.5px
        &_btns
            margin-top: 31px
        &_btn
            background: linear-gradient(290deg, #FE484C 0%, #E37337 100%)
            outline: none
            border: none
            color: #fff
            padding: 8px 22px
            border-radius: 30px
            width: 260px
            &:hover
                border: 1px solid #fdfeff

    &_mirror
        margin-top: 50px
        padding-top: 40px
        background: rgba(255, 255, 255, 0.09)
        border-radius: 16px
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(7.4px)
        -webkit-backdrop-filter: blur(7.4px)
    &_card
        text-align: center
        flex-direction: column
        display: flex
        align-items: center 
        &_picture
            display: flex
            align-items: center 
            justify-content: center
            width: 60px
            height: 60px
            border-radius: 10px
            opacity: 0.5
            background: linear-gradient(90deg, #4D4D7E 0%, #483B4F 100%)
                
        &_header
            margin-top: 20px
            color: #FFF
            font-family: Inter
            font-size: 15.1px
            font-style: normal
            font-weight: 300
            line-height: 24px
            margin-bottom: 40px

.videos
    &_header
        color: #FFF
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
        font-family: Inter
        font-size: 44.5px
        font-style: normal
        font-weight: 700
        line-height: 45px
        letter-spacing: -1.5px
    &_subheader
        margin-top: 20px
        color: #FFF
        font-family: Inter
        font-size: 15.1px
        font-style: normal
        font-weight: 300
        line-height: 24px
    &_button
        width: 170px
        height: 40px
        margin-top: 100px
        color: #FFF
        font-family: Inter
        font-size: 13.7px
        font-style: normal
        font-weight: 600
        line-height: 21.7px
        border-radius: 30px
        background-color: #12391200
        border: 1px solid #FE484C
        margin-bottom: 40px
        &:hover
            border: 1px solid #fdfeff
    &_item
        text-align: center
        flex-direction: column
        display: flex
        align-items: center 
        border-radius: 20px
        width: 315px
        height: 260px
        margin-bottom: 19px
        &_play
            cursor: pointer
            transition: 0.2s linear
            margin-top: 35%
            &:hover
                transform: scale(1.3)
        &_1
            background: url('../img/cards/VideoCard1.png') center (center/cover) no-repeat
        &_2
            background: url('../img/cards/VideoCard2.png') center (center/cover) no-repeat
        &_3
            background: url('../img/cards/VideoCard3.png') center (center/cover) no-repeat
        &_4
            background: url('../img/cards/VideoCard4.png') center (center/cover) no-repeat
        &_5
            background: url('../img/cards/VideoCard5.png') center (center/cover) no-repeat
        &_6
            background: url('../img/cards/VideoCard6.png') center (center/cover) no-repeat
.technologies
    padding-bottom: 110px
    &_title
        display: flex
        align-items: center
        justify-content: start
        padding-top: 110px
    &_header
        color: #FFF
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
        font-family: Inter
        font-size: 44.5px
        font-style: normal
        font-weight: 700
        line-height: 45px
        letter-spacing: -1.5px
        margin-left: 98px
    &_subheader
        margin-left: 52px
        color: #FFF
        font-family: Inter
        font-size: 15.1px
        font-style: normal
        font-weight: 300
        line-height: 24px
    &_items
        width: 80%
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 110px
.news
    min-height: 600px
    margin: 0 auto
    &_card
        width: 250px
    &_bottom
        display: flex
        justify-content: center
    &_btn
        border-radius: 30px
        background: linear-gradient(290deg, #FE484C 0%, #E37337 100%)
        width: 300px
        height: 40px
        color: #FFF
        font-family: Inter
        font-size: 13.7px
        font-style: normal
        font-weight: 600
        line-height: 21.7px
        transition: 0.2s linear
        &:hover
            border: 1px solid #ffffff
                

    &_header
        text-align: center
        margin-bottom: 50px
        color: #FFF
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
        font-family: Inter
        font-size: 44.5px
        font-style: normal
        font-weight: 700
        line-height: 45px
        letter-spacing: -1.5px
            
    &_card
        margin: 0 auto
        align-items: center
        &_photo
            width: 260px
            height: 195px
            &_1
                background: url('../img/news/news1.png') center (center/cover) no-repeat
            &_2
                background: url('../img/news/news2.png') center (center/cover) no-repeat
            &_3
                background: url('../img/news/news3.png') center (center/cover) no-repeat
            &_4
                background: url('../img/news/news4.png') center (center/cover) no-repeat
        &_header
            margin-top: 19px
            color: #FFF 
            font-family: Inter
            font-size: 14.2px
            font-style: normal
            font-weight: 700
            line-height: 18px
            text-transform: uppercase
        &_subheader
            margin-top: 19px
            color: #C9C9C9
            font-family: Inter
            font-size: 11.4px
            font-style: normal
            font-weight: 300
            line-height: 18px
            margin-bottom: 50px

.info_card
    margin: 0 auto
    &_logo
        margin-top: 110px
        text-align: left
        font-family: Inter
        font-size: 26.6px
        font-style: normal
        font-weight: 700
        line-height: 28px
        letter-spacing: -1.5px
        background: linear-gradient(270deg, #FE484C 0%, #E37337 33.33%, #E3B337 66.67%, #FE484C 100%)
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &_descr
        margin-top: 20px
        color: #FFF
        font-family: Inter
        font-size: 13.2px
        font-style: normal
        font-weight: 300
        line-height: 21px
        margin-bottom: 50px
    &_header
        margin-top: 30px
        text-align: right
        font-family: Inter
        font-size: 26.6px
        font-style: normal
        font-weight: 700
        line-height: 28px
        letter-spacing: -1.5px
        background: linear-gradient(270deg, #FE484C 0%, #E37337 33.33%, #E3B337 66.67%, #FE484C 100%)
        background-clip: text
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
    &_subheader
        text-align: right
        color: #FFF
        font-family: Inter
        font-size: 15.1px
        font-style: normal
        font-weight: 400
        line-height: 16px
        margin-top: 20px
        margin-bottom: 30px
    &_menu
        margin-top: 38px
        &_btn
            margin-bottom: 12px
            text-align: right
            color: #FFF
            font-family: Inter
            font-size: 13.5px
            font-style: normal
            font-weight: 400
            line-height: 16.8px

.footer
    &_line
        margin: 50px 0 21px 0
        height: 1px
        opacity: 0.5
        background: #FFF
        width: 100%
        &_desk
            margin-bottom: 21px
            color: #838294
            font-family: Inter
            font-size: 13.5px
            font-style: normal
            font-weight: 400
            line-height: 16.8px
            &_2
                text-align: right
            



.office_card
    &_city
        color: #FFF
        font-family: Inter
        font-size: 15.1px
        font-style: normal
        font-weight: 400
        line-height: 16px
        margin-top: 30px
    &_number
        margin-top: 14.5px
        color: #838294
        font-family: Inter
        font-size: 13.2px
        font-style: normal
        font-weight: 300
        line-height: 20px

    &_adres
        color: #838294
        font-family: Inter
        font-size: 13.2px
        font-style: normal
        font-weight: 300
        line-height: 20px

.form
    margin-top: 60px
    input
        padding: 10px 20px
        font-family: Inter
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: normal
        width: 100%
        border-radius: 15px
        background: #FFF
        border: none
    &_leftside
        display: flex
        flex-direction: column
    &_title
        color: #FFF
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.60)
        font-family: Inter
        font-size: 55px
        font-style: normal
        font-weight: 700
        line-height: 55px
        letter-spacing: -1.5px
    &_subtitle
        margin-bottom: 20px
        margin-top: 21px
        color: #FFF
        font-family: Inter
        font-size: 16px
        font-style: normal
        font-weight: 300
        line-height: 24px
    &_subbtn
        margin-top: 13px
        color: #FFF
        text-align: center
        font-family: Inter
        font-size: 12px
        font-style: normal
        font-weight: 400
        line-height: 18px
    &_btn
        width: 100%
        border-radius: 30px
        border: 1px solid #FE484C
        margin-top: 20px
        background: #fe484b00
        color: #FFF
        padding: 10.5px 242.853px 10.5px 243.147px
        text-align: center
        font-family: Inter
        font-size: 14px
        font-style: normal
        font-weight: 600
        line-height: normal
        transition: 0.2s linear
        &:hover
            border: 1px solid #ffffff
    &_glass
        height: 210px
        width: 360px
        background: rgba( 255, 255, 255, 0.2 )
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
        backdrop-filter: blur( 8.5px )
        -webkit-backdrop-filter: blur( 8.5px )
        border-radius: 15px
        color: white
        &_title
            padding-top: 37px
            padding-left: 40px
            color: #FFF
            font-family: Inter
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 24px
        &_number
            margin-top: 15px
            padding-left: 40px
            font-family: Inter
            color: #FFF
            font-size: 32px
            font-style: normal
            font-weight: 700
            line-height: 32px
        &_gmail
            padding-left: 40px
            margin-top: 10px
            font-family: Inter
            color: #FFF
            font-size: 32px
            font-style: normal
            font-weight: 700
            line-height: 32px
    &_name
        height: 40px
    &_number
        margin-top: 10px
        height: 40px
    &_gmail
        margin-top: 10px
        height: 40px
    &_companyname
        margin-top: 10px
        height: 40px
    &_info
        margin-top: 10px
        height: 60px
    &_btns
        display: flex
        justify-content: center
.hidden
    display: block

.visible
    display: none

.hamburger
    z-index: 8
    position: fixed
    width: 50px
    height: 55px
    margin-left: 80%
    background-color: white
    transform: translateY(-15px)
    padding-top: 10px
    background: rgba( 255, 255, 255, 0.2 )
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
    backdrop-filter: blur( 8.5px )
    -webkit-backdrop-filter: blur( 8.5px )
    border-radius: 30px
    border: none
    color: white
    span
        margin: 6px auto
        width: 30px
        height: 3px
        background-color: white

.menu
    z-index: 9
    display: none
    position: fixed
    top: 0
    right: 0
    height: 100%
    width: 80%
    background-color: #ffffff
    padding: 20px
    box-sizing: border-box
    overflow-x: hidden
    transition: 0.5s
    &_close
        z-index: 200
        font-size: 44px
        cursor: pointer
        position: absolute
        top: 18px
        right: 46px
    h2
        color: white
        margin-bottom: 20px
    &_list
        display: flex
        justify-content: center
        flex-direction: column
    &_btn
        margin-top: 20px
    &_project
        margin-top: 435px
        &_btn
            width: 100%
            border-radius: 30px
            border: 1px solid #FE484C
            margin-top: 20px
            background: #fe484b00
            color: #FE484C
            text-align: center
            font-family: Inter
            font-size: 14px
            font-style: normal
            font-weight: 600
            line-height: normal
            transition: 0.2s linear
            height: 40px
            &:hover
                border: 1px solid #ffffff

@media screen and (max-width: 600px)
    .promo_back_shadow
        display: none
    .promo_back_video
        display: none
    .technologies_items
        padding-top: 10px
        flex-direction: column
        &_play
            margin-top: 40px
    .technologies_title
        justify-content: center
        flex-direction: column
    .varvision
        display: none
    .promo
        height: 950px
        &_buble
            padding-top: 14px
            &_2
                margin-top: 16px
    .promo_back_btn
        margin: 0 auto
        margin-top: 20px
        display: flex
        flex-direction: column
        &_1
            margin: 0 auto
        &_2
            margin: 0 auto
            margin-top: 10px
        &_3
            margin: 0 auto
            margin-top: 10px
    .benefits
        height: 990px
        &_header
            font-size: 30px
        &_item
            margin-top: 20px
    .responsibilitie_title_solution
        margin-top: 40px
    .responsibilitie_title_btn
        width: 100%
    .videos_item
        margin-left: auto
        margin-right: auto
    .technologies_header
        margin: 0 auto
        text-align: center
    .technologies_subheader
        margin: 0 auto
        margin-top: 20px
        text-align: center
    .form
        &_btn
            padding: 0px
            padding-top: 10.5px
            padding-bottom: 10.5px
        &_subbtn
            margin-top: 20px
        &_glass
            margin: 0 auto
            margin-top: 20px
    .videos_button
        margin-left: 30%
    .splide
        width: 100%
        &__slide
            min-height: 420px
    .hide-on-small-screen
        display: none
    .show-on-small-screen 
        display: block     
    .hidden
        display: none
    .promo_back_text
        padding-top: 100px
    .visible
        display: block